%ul.breadcrumb
  %li
    = link_to 'Partners', org_groups_path
    %span.divider
      >
  %li
    = link_to @group.title, org_group_path(@group)
    %span.divider
      >
  %li.active
    Edit

= title "Edit #{@group.title}"
%br
= render partial: 'form'

