.breadcrumbs
  = link_to 'Groups', org_groups_path
  >
  #{@group.title} Group

= title "\"#{@group.title}\" Group"



%br
= link_to 'Edit', edit_org_group_path(@group), class: "btn left", id: 'edit-group'
= link_to 'Group Admin Users', org_group_users_path(@group), class: "btn left", id: 'group-admin-users'
.clear

%h4.mt20
  Public Group Homepage
  .well
    = link_to group_url(@group), group_path(@group)

%h4
  Public New Petition Page
  .well
    = link_to new_group_petition_url(group_id: @group.slug), new_group_petition_url(group_id: @group.slug)

%h4
  Petitions

- if @group.petitions.any?
  = table_for(@group.petitions) do |t|
    = t.data do
      - t.cell(:title) { |p| link_to(p.title, petition_path(p), class: petition_class(p)) }
      - t.cell(:total_signatures) { |p| p.cached_signatures_size }
      - t.cell(:created_by) { |p| p.user.nil? ? "[No User]" : link_to(p.user.full_name, edit_admin_user_path(p.user)) }
      - t.cell(:created_at) { |p| p.created_at > 1.week.ago ? distance_of_time_in_words(Time.now, p.created_at) + " ago" : p.created_at.strftime("%Y-%m-%d %H:%M") }
      - t.cell(:admin_status)
- else
  No petitions yet for this group.
