%ul.breadcrumb
  %li
    = link_to 'Partnerships', org_groups_path
    %span.divider
      >
  %li.active
    = @group.title

.row
  .span7
    = title @group.title
    %h2 Partnership
  .span3
    .manage-buttons
      .btn-group
        = link_to group_path(@group), id: "view-group-button", class: "btn btn-manage" do
          %i.icon-eye-open
          View
        = link_to group_manage_path(@group), id: "manage-group-button", class: "btn btn-manage" do
          %i.icon-cog
          Manage


.row.mt20
  .span2.well
    = link_to new_group_petition_path(@group), class: 'well-button' do
      %h3
        %i.icon-share-alt
        New Petition
      Page where anyone can add a campaign
  .span2.well
    = link_to group_path(@group), class: 'well-button' do
      %h3
        %i.icon-eye-open
        Hub Page
      Public directory of campaigns

  .span2.well
    = link_to edit_org_group_path(@group), class: 'well-button' do
      %h3
        %i.icon-pencil
        Edit
      Change partnership settings and content

  .span2.well
    = link_to org_group_users_path(@group), class: 'well-button', id: 'group-admin-users' do
      %h3
        %i.icon-user
        Admins
      Users with access to partnership


%h4
  Petitions

- if @group.petitions.any?
  = table_for(@group.petitions) do |t|
    = t.data do
      - t.cell(:title) { |p| link_to(p.title, petition_path(p), class: petition_class(p)) }
      - t.cell(:total_signatures) { |p| p.cached_signatures_size }
      - t.cell(:created_by) { |p| link_to_edit_user(p.user) }
      - t.cell(:created_at) { |p| pretty_date_format(p.created_at, "%Y-%m-%d %H:%M") }
      - t.cell(:admin_status)
- else
  .row
    .span8
      %p
        No petitions have been created inside this partnership yet.
      %p
        The partner can create petitions themselves through the partnership's new petition page, or distribute
        the URL to the new petition page to their members.
      %p
        Petitions created elsewhere on the site can also be manually added to the partnership by the site administrator.

= link_to "#", id: "move-petition-into-group", href: "#petition-modal", rel: 'popover', data: { toggle: 'modal' } do
  %i.icon-plus
  Move Petition Into Partnership

:coffeescript
  $(document).on "pjax:end ready", ->
    new PetitionSelector

- content_for :end_of_body do
  / render div at the end of body for fixing IE7 z-index problem
  .modal.hide.fade.petition-selector-modal#petition-modal{'data-petition-check-url' => org_group_path(@group), 'data-petition-action-url' => org_group_path(@group)}
    .modal-header
      %button.close{ "data-dismiss" => "modal" } x
      %h3 Move Petition Into Partnership
    .modal-body.petition-form
      %b URL of petition to move:
      .mt10
        .inline-block.petition-host-label
          = petition_url("")
        .inline-block
          %input.span2#petition-slug-textbox
          %span.indicator
          .control-group.error
            .help-inline
    .modal-footer
      %a.btn.btn-primary.disabled#btn-confirm{ href: "#" } Confirm
