.row
  .span7
    = title "Categories"
  .span3
    = link_to 'New Category', new_org_category_path, class: "btn btn-primary"

%br
- if @categories.any?
  = table_for(@categories) do |t|
    = t.data do
      - t.cell(:name) { |c| link_to(c.name, edit_org_category_path(c), {:class => 'use-pjax'}) }
- else
  .row
    .span4.offset4{style:"padding-top:50px;"}
      %p
        Categories help organise petitions. They allow people to browse campaigns by category, and segment signers by the issues they care about.
      %p
        Once categories have been added they will optionally appear on the new petition form depending on how your organisation's site is configured.

    .span1
      = image_tag "target-arrow.png"

