%p
  %i
    &ndash;&ndash;&nbsp;&nbsp;Below is a reply from an inappropriate petition.
    %br
    = @petition.title
    = link_to "#{petition_url(@petition, host: @organisation.host)}", petition_url(@petition, host: @organisation.host)
    &nbsp;&nbsp;&ndash;&ndash;
%p
%pre{:style => "font-family:arial;"}
  = "\n#{@email.content}"