%li.span10
  %a.thumbnail{ href: petition_path(petition_search_item) }
    .row
      .span3
        = image_content(entity: petition_search_item)
      .span6
        %h3.title.mt10= petition_search_item.title
        .why.mt10= petition_search_item.what

        - full_name = petition_search_item.user.present? ? "by #{petition_search_item.user.full_name}" : ""
        .campaigner.mt10.mb20 Campaign created #{full_name} on #{petition_search_item.created_at.strftime('%d %b %Y')}
