.row
  .span7

    = title cf('petition_landing_title')
    .mt10
      %p.important
        = cf('petition_landing_description')
.row
  .span7
    .mt30
      - if @petition.persisted?
        = render partial: "petitions/form", locals: {post_path: url_for(@petition), show_details: false, cancel_path: launch_petition_path(@petition)}
      - else
        = render partial: "petitions/form", locals: {post_path: petitions_path, show_details: false}
  .span4.offset1
    .mt30
      = cf('petition_landing_aside')



