- content_for :sidebar do
  = render partial: 'group_admin_sidebar'

.row
  .span7

    =title @group.title
  .span3
    .manage-buttons
      .group2.btn-group
        = link_to group_path(@group), id: "view-group-button", class: "btn btn-manage" do
          %i.icon-eye-open
          View
        - if can?(:manage, current_organisation)
          = link_to org_group_path(@group), id: "manage-group-button", class: "btn btn-manage" do
            %i.icon-wrench
            Admin

.row
  .span7
    .admin_major_stat#total_petitions_count
      .number
        = number_with_delimiter(@group.petitions.not_orphan.size, :delimiter => ",")
      .subtle
        Petitions Created


    .admin_major_stat#total_signatures_count
      .number
        = number_with_delimiter(@group.signatures.size, :delimiter => "," )
      .subtle
        Signatures Collected

.row
  .span7
    %h4{class: 'mt20'}
      Public URL
    .well
      = group_url(@group)