%h2
  Admin

%ul
  %li
    = link_to 'Users', admin_users_path
  %li
    = link_to 'Petitions', admin_petitions_path
  %li
    = link_to 'Hot Petitions', hot_admin_petitions_path
  %li
    = link_to 'Export', export_admin_users_path
  %li
    = link_to 'Orgs', admin_organisations_path
