%h2 Resend unlock instructions
= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :wrapper => :inline, :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true, input_html: { type: 'email' }
  .actions
    = f.button :submit, "Resend unlock instructions"
= render :partial => "devise/shared/links"