.row
  .group-title.span9
    = title @group.title

  - if can?(:manage, @group)
    .manage-buttons
      .btn-group
        = link_to group_manage_path(@group), id: "manage-petition-button", class: "btn btn-manage" do
          %i.icon-cog
          Manage

.mt20
.row
  - unless @group.image_file_name.blank?
    .span3
      .group-image
        = image_tag(@group.image.url(:hero))
    .span5
      = @group.description
  - else
    .span7
      = @group.description

.featured-petitions
  - if @petitions.any?
    .row
      .span6
        %h3 Campaigns
      .span6
        = link_to 'New Campaign', new_group_petition_path(@group),  class: 'btn btn-primary'
        .clear
        
    %hr
    %ul.thumbnails
      = render partial: "/groups/featured_petition", collection: @petitions
    = render "groups/more_campaigns"

  - else
    %h3 No campaigns have been created yet.
    %br
    Be the first
    = link_to 'to start one.', new_group_petition_path(@group)
