= simple_form_for [:org, @effort], validate: true, :wrapper => 'compact' do |form|
  = form.input :title,        input_html: { class:  'span7', rel: 'popover', 'data-content' => "The name of your effort. Used on the effort overview page."}
  = form.input :description,  input_html: { class:  'span7', rows: 8, rel: 'popover', 'data-content' => "Tell the story of what your effort is trying to accomplish. Used on the effort overview page."}
  .upload-image-box-horizontal
    .upload-image.upload-image-switcher{'data-changed-placeholder-url' => asset_path('image-placeholder-form-changed.png') }
      = image_content(entity: @effort, style: :form, content_class: 'preview-image')
      .arrow
      .upload-field
        = form.input :image,
          as: :file,
          label: 'Upload an image', input_html: { accept: 'image/jpeg,image/gif,image/png' }
      .clear
  .row
    .mt20.span7
      Efforts can either be an open ended container for petitions against any target, or as focused set of campaigns against a pre-defined list of targets.
  .row
    .span7
      - # if persisted, disable all options, if not persisted nothing disabled
      - disabled_radio_choices = @effort.persisted? ? Effort::EFFORT_TYPES : []
      = form.collection_radio_buttons :effort_type, Effort::EFFORT_TYPES.map { |t| [t, t.humanize] }, :first, :last, disabled: disabled_radio_choices,
      checked: @effort.effort_type, collection_wrapper_tag: 'div', item_wrapper_tag: 'div', collection_wrapper_class: 'mb20 ml20 mt10'

  = render partial: 'advanced_form', locals: {form: form}

  .actions.mt20
    = form.button :submit, value: "Save Effort"

= javascript_include_tag 'create_effort'
