.row
  .span7
    = title "Efforts"
  .span3
    = link_to 'New Effort', new_org_effort_path, class: "btn btn-primary"

- if @efforts.any?
  = table_for(@efforts) do |t|
    = t.data do
      - t.cell(:title) { |e| link_to(e.title, org_effort_path(e.slug)) }
      - t.cell(:petitions) { |e| e.petitions.count }
      - t.cell(:public_view) {|e | link_to "(public view)", effort_path(e)  }
  = will_paginate @efforts
- else
  .row
    .span4.offset4{style:"padding-top:50px;"}
      %p
        Efforts are a powerful tool for coordinating distributed local versions of national campaigns.
      %p
        Site admins create a single petition template with a list of local targets across the country or around the world.
      %p
        Members look up the closest petition to their location, and may either sign or lead the campaign.

    .span1
      = image_tag "target-arrow.png"
