.row
  .span7
    = title "Efforts"
  .span3
    = link_to 'New Effort', new_org_effort_path, class: "btn btn-primary"

- if @efforts.any?
  = table_for(@efforts) do |t|
    = t.data do
      - t.cell(:title) { |e| link_to(e.title, org_effort_path(e.slug)) }
      - t.cell(:petitions) { |e| e.petitions.count }
      - t.cell(:public_view) {|e | link_to "(public view)", effort_path(e)  }
  = will_paginate @efforts
- else
  .row
    .span4.offset4{style:"padding-top:50px;"}
      %p
        Efforts are a powerful tool for prompting people to create or lead a themed set of campaigns.
      %p
        Open ended efforts let admins create landing pages with a customized new petition form and help text with special instructions.
      %p
        Local target efforts allow admins to create a petition template and find local leaders to run franchised versions of national campaigns in their communities.
        Admins specify a list of targets, and a petition is created for each one.

    .span1
      = image_tag "target-arrow.png"
