#contact_user_form{'data-contact-url' => url }
  .modal-header
    %button{'type' => "button", 'class' => "close", 'data-dismiss' => "modal", 'aria-hidden' =>"true"} ×

    %h3 Contact #{user.full_name}
  .modal-body
    = simple_form_for @email, :url => url, :validate => true, :wrapper => :compact, :authenticity_token => false do |f|
      = f.input :from_name, :label=>"Your name", :autofocus => true, :input_html => { :value => local_assigns[:name] ? name : '', :class => 'span6', :validate => { :format => false } }
      = f.input :from_address, :label=>"Your email", :input_html => { type: 'email', :value => local_assigns[:email] ? email : '', :class => 'span6' }
      = f.input :subject, :label=>"Subject", :input_html => { :class => 'span6' }
      = f.input :content, :as => :text, :label=>"Body", :input_html => { :class => 'span6', :rows => 6 }
      = show_simple_captcha label: "Please type the text from the image."

  .modal-footer
    .left.error.hide{ id: "label-send-error" }
      Something's wrong, please try again.
    %a.btn{ id: "btn-send" } Send
    .right
      %img.ajax-loader.hide{ id: "img-send-loader", src: asset_path("ajax-loader-24.gif") }