= title "Enter Petition Signatures"
%br

.hide
  = simple_form_for @signature, url: "", validate: true, wrapper: :compact do |f|
    = f.input :first_name, input_html: { validate: { format: false } }
    = f.input :last_name, input_html: { validate: { format: false } }
    = f.input :email, input_html: { type: 'email' }
    = f.input :phone_number
    = f.input :postcode
  
%form{ id: "manual-input-form", "data-ref-form-id" => 'new_signature', "data-validate" => "true", action: "#{manual_input_petition_signatures_path(@petition)}", method: "post", style: "margin-bottom:0px;" }
  = hidden_field_tag "authenticity_token", form_authenticity_token

  .panel.manual-input-signatures
    %p Enter petition signatures below. Save as you go so you don't lose any of your work.
    %br
    %table{ id: "table-input", class: "condensed-table" }
      %thead
        %tr
          %th
            First name
            %abbr *
          %th
            Last name
            %abbr *
          %th
            Email
            %abbr *
          %th Phone
          %th
            Postcode
            %abbr *
          %th= join_label
      %tbody
      %tfoot
        %tr
          %td{ colspan: 6 }
            %button.btn{ id: "btn-add" } Add Row
            .right.subtle
              %abbr * required fields
    %br

  .mt20
    = button_to "Save Signatures", {}, class: "btn btn-primary"
    .clear
  
:javascript
  var error_rows = #{raw @error_rows.to_json};
  
  $("#manual-input-form input").live('focusin', function() {
    var lastInputs = $("#table-input tbody tr:last :input");
    if (lastInputs.is($(this))) addNewRow();
  });
      
  ClientSideValidations.callbacks.element.before = function(element, eventData) {
    var row = element.closest("tr");
    var isBlankRow = row.find(":input:text").filter(function() { return $(this).val().length > 0; }).length == 0;
    
    if (isBlankRow) $("input:text", row).trigger("element:validate:reset");
  }
  
  $("#btn-add").click(function() {
    addNewRow();
    return false;
  });
  
  $(function() {
    for (var i=0; i<error_rows.length; i++) {
      var row = error_rows[i];
      addNewRow(row['first_name'], 
                row['last_name'], 
                row['email'], 
                row['phone_number'], 
                row['postcode'], 
                row['join_organisation'] === true ? "checked" : "",
                errorOrDefault(row['errors'], 'first_name'),
                errorOrDefault(row['errors'], 'last_name'),
                errorOrDefault(row['errors'], 'email'),
                errorOrDefault(row['errors'], 'phone_number'),
                errorOrDefault(row['errors'], 'postcode'));
    }
    
    for (var i=0; i<5; i++) { addNewRow(); }
  })
  
  function errorOrDefault(errors, field) {
    if (errors[field] === undefined) {
      return undefined;
    }
    else {
      return errors[field][0];
    }
  }
  
  function addNewRow(firstName, lastName, email, phoneNumber, postcode, joinOrganisation, firstNameError, lastNameError, emailError, phoneNumberError, postcodeError) {
    var row = $("#table-input tbody tr").length;
    
    var html = "<tr valign=top>";
    html += constructColumn(row, "first_name", "string", "span2", firstName, firstNameError);
    html += constructColumn(row, "last_name", "string", "span2", lastName, lastNameError);
    html += constructColumn(row, "email", "string", "span3", email, emailError);
    html += constructColumn(row, "phone_number", "string", "span2", phoneNumber, phoneNumberError);
    html += constructColumn(row, "postcode", "string", "span2", postcode, postcodeError);
    html += constructColumn(row, "join_organisation", "boolean", "span1", joinOrganisation, "");
    html += "</tr>";
    $("#table-input tbody").append(html);
  }
  
  function constructColumn(row, fieldName, fieldType, inputClass, defaultValue, errorMessage) {
    inputId = 'signatures_' + row + '_' + fieldName;
    inputName = 'signatures[][' + fieldName + "]";
    validatorName = 'signature[' + fieldName + ']';
    defaultValue = defaultValue || "";
    inputClass = inputClass || "span2";
    
    if (fieldType == "boolean") {
      return '<td style="vertical-align:middle"><div class="control-group center"><input id="' + inputId + '" name="' + inputName + '" type="checkbox" value="1" ' + defaultValue + ' /></div></td>';
    }
    else {
      if (errorMessage != undefined && errorMessage.length > 0)
        return '<td><div class="control-group error"><input class="' + inputClass + '" data-validate="true" data-validator-name="' + validatorName + '" data-valid="false" id="' + inputId + '" name="' + inputName + '" type="text" value="' + defaultValue + '"><span class="help-inline">' + errorMessage + '</span></div></td>';
      else
        return '<td><div class="control-group"><input class="' + inputClass + '" data-validate="true" data-validator-name="' + validatorName + '" id="' + inputId + '" name="' + inputName + '" type="text" value="' + defaultValue + '"></div></td>';
    }
  }
