/ facebook meta tags
- content_for :head do
  %meta{property: "og:title", content: "#{current_organisation.name}"}
  %meta{property: "og:image", content:"#{request.protocol}#{request.host_with_port}/assets/organisations/#{current_organisation.slug}/logo_share.png"}
- content_for :before_content do

  .home-banner
    .overlay-left
    .overlay-right

    .wordings
      %h1.highlight
        =cf('homepage_headline')
      - if user_signed_in? || session[:can_create_campaign] || current_organisation.skip_white_list_check?
        = link_to new_petition_path(:source => 'homepage'), class: "btn-start-petition" do
          %span.text Start a campaign
        .subtle We'll connect you to help and tools every step of the way.
      - else
        = link_to "", intro_path, class: "btn-register-your-interest"
      .about-and-contact
        = link_to "About Us", about_us_path

    .spotlight
      = render partial: 'stories_carousel'

.row
  .span5
    .featured-petitions-logo
    .featured-petitions
      - cache("home_index_#{current_organisation.id}_featured", expires_in: 1.minute) do
        = render partial: "home/featured_item", collection: @featured_petitions
    .featured-more
      = link_to categories_path, class: "btn btn-primary" do
        More Campaigns

  .span6.offset1
    .explain-site
      =cf('homepage_explainer')

:javascript
  function adjustOverlay() {
    var left = $(".spotlight").position().left + 590;
    var width = $(window).width() - $(".spotlight").position().left - 590;

    if (width <= 0) {
      $('.overlay-right').width(0);
    }
    else {
      $('.overlay-right').offset({ left: left });
      $('.overlay-right').width(width);
    }
  }

  $(function() {
    adjustOverlay();

    $(window).resize(function() {
      adjustOverlay();
    });
  });
