.sidebar.manage
  .container
    %div{ style: "height: 35px" }
    .sidebar-box
      %div{class: highlighted('manage-start', highlight_id), id: 'manage-start-tab' }
        = link_to petition_manage_path(@petition), id: 'manage-start' do
          .strong Getting
          started
      - unless @petition.suppressed?
        %div{class: highlighted('manage-email', highlight_id), id: 'manage-email-tab'}
          = link_to new_petition_email_path(@petition), id: 'manage-email' do
            = cf('petition_manage_email_label')
      %div{class: highlighted('manage-collect', highlight_id), id: 'manage-collect-tab'}
        = link_to offline_petition_manage_path(@petition), id: 'manage-collect' do
          = cf('petition_manage_offline_label')
      %div{class: highlighted('manage-deliver', highlight_id), id: 'manage-deliver-tab' }
        = link_to deliver_petition_manage_path(@petition), id: 'manage-deliver' do
          = cf('petition_manage_delivery_label')
      - if @petition.effort && @petition.effort.specific_targets?
        %div{class: highlighted('manage-training', highlight_id), id: 'manage-training-tab' }
          = link_to training_petition_manage_path(@petition), id: 'manage-training' do
            %i.icon-question-sign
            %span.training-label.strong Training

    = content_for :campaign_tips
    .sidebar-box.settings
      .well
        = render partial: "petitions/manage/petition_settings"
