- title "Manage Campaign"
:css
  body { overflow-x: hidden; }

-#- content_for :campaign_tips do
-#  %hr.mt50
-#  .campaign-tips
-#    %h4
-#      =image_tag "icon-bulb.png"
-#      Campaign Tips

- content_for :specific_alerts do
  = render partial: "petitions/view/alert_if_petition_cancelled"

.manage-buttons
  .group2.btn-group
    = link_to petition_path(@petition), id: "view-petition-button", class: "btn btn-manage" do
      %i.icon-eye-open
      View

.row
  .span6
    %h1= @petition.title
    
.mt20
= render partial: "petitions/manage/petition_achievements_accordion"

- content_for :sidebar do
  = render partial: 'petitions/manage/manage_menu_bar', locals: {highlight_id: "manage-start"}

