<input class="query-box input-xlarge search-query" id="location-query-field" name="location[query]" placeholder="Search by location" autocomplete="off" value="{{query}}">
<a class="btn btn-primary search-btn submit-button" href="#">
    Lookup
</a>
<a class="search-button submit-button" href="#">
  <i class="icon-globe"></i>
</a>


<input name="location[latitude]"  type="hidden" value="{{latitude}}" />
<input name="location[longitude]" type="hidden" value="{{longitude}}" />
<input name="location[street]"    type="hidden" value="{{street}}" />
<input name="location[locality]"  type="hidden" value="{{locality}}" />
<input name="location[postal_code]" type="hidden" value="{{postal_code}}" />
<input name="location[region]"    type="hidden" value="{{region}}" />
<input name="location[country]"   type="hidden" value="{{country}}" />
