<div class="control-group string required {{#unless validated}}error{{/unless}}">
  <div class="controls">
    <label class="string required control-label" for="location-query-field">
      Where?
      <abbr title="required">*</abbr>
      {{#unless query_present}}
        <span class='help-inline'>can't be blank</span>
      {{/unless}}
      {{#unless geocoder_success}}
        <span class='help-inline'>We could not understand that location.</span>
      {{/unless}}
    </label>
  </div>
  <input id="location-query-field" name="location[query]" placeholder="Search by location" autocomplete="off" value="{{query}}" type="text">
  <input name="location[latitude]"  type="hidden" value="{{latitude}}" />
  <input name="location[longitude]" type="hidden" value="{{longitude}}" />
  <input name="location[street]"    type="hidden" value="{{street}}" />
  <input name="location[locality]"  type="hidden" value="{{locality}}" />
  <input name="location[postal_code]" type="hidden" value="{{postal_code}}" />
  <input name="location[region]"    type="hidden" value="{{region}}" />
  <input name="location[country]"   type="hidden" value="{{country}}" />
</div>