= title "Blast Emails Moderation Queue"
%br

.admin_major_stat#num_of_petitions_to_moderate
  .number
    = @emails.size
  .subtle
    Emails left to moderate
.clear
%br
%br

- if @emails.any?
  = table_for(@emails) do |t|
    = t.data do
      - t.cell(:subject) { |e| link_to(e.subject, org_email_path(e), {:class => 'use-pjax'}) }
      - t.cell(:source, heading: "Petition/Partnership") { |e| e.title }
      - t.cell(:recipients) { |e| e.recipient_count  }
  = will_paginate @emails
- else
  No emails found.
