- title "Email > #{@email.subject}"

.row
  .span9
    %ul.breadcrumb
      %li
        = link_to 'Emails', org_emails_path, {:class => 'use-pjax'}
        %span.divider
          >
      %li.active
        = @email.subject
.clear

.row{:style => 'padding-top:20px;'}
  .span9
    - if @email.available_to_moderate?
      .admin-toolbox
        .left.name Administrative Tools
        .right.moderation-status
          = simple_form_for @email, url: org_email_path(@email), validate: true, wrapper: :append do |f|
            = label_tag :moderation_status, "Moderation Status"
            = f.select :moderation_status, BlastEmail::MODERATION_STATUSES.map { |s| [s.to_s.capitalize, s.to_s] }, {}, {class: "span2 blast-email-moderation-status"}
            = f.button :submit, 'Moderate', :id=> 'moderate-email-submit'
            .inappropriate-reason-popover
              = f.input :moderation_reason, label: false, input_html: { rows: "5", placeholder: "Reason...", class: "blast-email-moderation-reason" }
        .clear

        :javascript
          $(function() {
            show_reason_if_inappropriate = function() {
              if($(".blast-email-moderation-status").val() == 'inappropriate') {
                $(".inappropriate-reason-popover").show();
                $(".blast-email-moderation-reason").focus();
                $(".blast-email-moderation-reason").attr("data-validate", "true");
              }
              else {
                $(".blast-email-moderation-reason").removeAttr("data-validate");
              }
            }
            show_reason_if_inappropriate();
            $(".blast-email-moderation-status").change(function() {
              $(".inappropriate-reason-popover").hide();
              show_reason_if_inappropriate();
            });
          })


    - else
      %h3
        Status
      .well
        = "#{@email.moderation_status.capitalize} and #{@email.delivery_status}."

    %h3
      Date Created
    .well
      = pretty_date_format(@email.created_at)

    %h3
      From
    .well
      = @email.from

    %h3
      To
    .well
      = " #{pluralize(@email.recipient_count, 'subscribed signer')} of the "
      - if @email.petition.present?
        = link_to "#{@email.title}", petition_path(@email.petition)
        = " petition"
      - elsif @email.group.present?
        = link_to "#{@email.title}", group_path(@email.group)
        = " partnership"

    %h3
      Subject
    .well
      = @email.subject

    %h3
      Body
    .well
      = @email.body.html_safe
      %br
      %br
      If you don't want to receive emails from the '#{@email.source.title}' campaign in the future, please
      #{link_to "unsubscribe", blast_email_unsubscribe_url(@email)}.