= title "Unsubscribe from '#{@group.title}'"
%br

  = render :partial => 'shared/errors', :locals => {:error_obj => @unsubscribe}

.span5
  = simple_form_for(@unsubscribe, url: group_unsubscribe_path(@unsubscribe.subscription.group, @unsubscribe.subscription), method: :put,
                                wrapper: :compact) do |f|
    .inputs
      = f.input :email, required: true, label: "Enter your email address", input_html: {value: "", class: "span5", type: 'email'}
    .submit_button
      = f.button :submit, "Confirm", id: 'unsubscribe_me_btn', class: "btn btn-primary"
