= simple_form_for [:org, :contents, @story], validate: true, :wrapper => 'compact' do |form|
  = form.input :featured
  = form.input :title, input_html: { class:  'span9' }
  = form.input :link, input_html: { class:  'span9' }
  = form.input :content, input_html: { class:  'span9', rows: "5" }
  .upload-image-box-horizontal
    .upload-image.upload-image-switcher{"data-changed-placeholder-url" => asset_path("image-placeholder-form-changed.png") }
      = image_content(entity: @story, style: :form, content_class: "preview-image")
      .arrow
      .upload-field
        = form.input :image, 
          as: :file, 
          label: "Upload an image", input_html: { accept: "image/jpeg,image/gif,image/png" }
      .clear
  
  .actions
    = form.button :submit
