%ul.breadcrumb
  %li
    = link_to 'Manage Stories', org_contents_stories_path, {:class => 'use-pjax'}
    %span.divider
      >
  %li.active
    = @story.title
.clear

.word-wrap
  = title "\"#{@story.title}\" Story #{@story.featured? ? '(Featured)' : ''}"
%br
= link_to 'Edit', edit_org_contents_story_path(@story), class: "btn left", id: 'edit-story'
.clear
%br

- if @story.link.present?
  .well
    = link_to @story.link, @story.link
.well.word-wrap
  = @story.content
.well    
  = image_content(entity: @story, content_class: "story-image")
