.row
  .span7
    = title "Stories"
  .span3
    = link_to 'New Story', new_org_story_path, class: "btn btn-primary use-pjax"

%br
- if @stories.any?
  = table_for(@stories) do |t|
    = t.data do
      - t.cell(:featured) { |p| p.featured? ? "&#10003".html_safe : "" }
      - t.cell(:title) { |p| link_to(p.title, org_story_path(p), {:class => 'use-pjax'}) }
      - t.cell(:content) { |p| truncate(p.content, length: 25) }
  = will_paginate @stories
- else
  No stories found.