.breadcrumbs
  = link_to 'Manage Stories', org_stories_path, {:class => 'use-pjax'}
  >
  = @story.title

.word-wrap
  = title "\"#{@story.title}\" Story #{@story.featured? ? '(Featured)' : ''}"
%br
= link_to 'Edit', edit_org_story_path(@story), class: "btn left use-pjax", id: 'edit-story'
.clear
%br

- if @story.link.present?
  .well
    = link_to @story.link, @story.link
.well.word-wrap
  = @story.content
.well    
  = story_image(@story)
