:preserve
  Dear Friends,

  I just #{verb} the petition "#{h(petition.title)}" and wanted to ask if you could add your name too.

  This campaign means a lot to me and the more support we can get behind it, the better chance we have of succeeding. You can read more and sign the petition here:

  #{petition_url(petition)}

  Thank you!
 
  #{name}

  P.S. Can you also take a moment to share the petition with others? It's really easy – all you need to do is forward this email or share this link on Facebook or Twitter:

  #{petition_url(petition)}
