:preserve
  Dear Friends,

  I just #{verb} the petition: #{h(petition.title)}.

  It would mean a lot to me if you took a moment to add your name because:
  #{h(petition.why)}
 
  #{petition_url(petition)}
 
  Real change happens when everyday people like you and I come together and stand up for what we believe in.  Together we can reach heaps of people and help create change around this important issue.
 
  After you've signed the petition please also take a moment to share it with others.  It's super easy – all you need to do is forward this email.

  Thank you!
 
  #{name}
