= simple_form_for @signature, url: petition_signatures_path(@petition), validate: true, wrapper: :compact, remote: true do |f|
  = f.input :first_name, label: 'First name', input_html: { validate: { format: false }, class: 'signature-narrow' }
  .input-why
    %a{ rel:'popover', 'data-placement'=> 'left', 'data-offset' => 190, 'data-original-title'=>'?', 'data-content'=> 'Petitions that don’t use real names get taken less seriously. Using your real name adds power to the petition and makes it more effective.' } ?

  = f.input :last_name, label: 'Last name', input_html: { validate: { format: false } }
  = f.input :email, label: 'Email', input_html: { type: 'email' , validate: {uniqueness: false }}, hint: ''
  = f.input :phone_number, label: 'Phone Number', input_html: {class: 'signature-narrow'}
  .input-why
    %a{ rel: 'popover', 'data-placement'=> 'left', 'data-offset' => 190, 'data-original-title'=>'?', 'data-content'=>'Not publicly visible. The creator of this petition may contact you about important moments in this campaign.' } ?

  = f.input :postcode, label: cf(:petition_show_postcode_label)

  - @signature.additional_field_configs.each do |field_name, field_config|
    - if field_config[:kind] == :boolean
      .checkbox
        = check_box_tag(field_name, 1, false, id: "signature_#{field_name}", name: "signature[#{field_name}]", class: 'boolean')
        %label.subtle.mr10{ for: "signature_#{field_name}" }
          = field_config[:label]
      - if field_config[:why].present?
        .checkbox-why
          %a{ rel: 'popover', 'data-placement'=> 'left', 'data-offset' => 190, 'data-original-title'=>'?', 'data-content'=> field_config[:why]  } ?

    - else
      = additional_field_input(f, field_name, field_config)

  - if current_organisation.always_join_parent_org_when_sign_up?
    = f.input :join_organisation, as: :hidden, input_html: {value: '1'}
  - else
    .checkbox
      = check_box_tag(:join_organisation, 1, true, id: 'signature_join_organisation', name: 'signature[join_organisation]', class: 'boolean')
      %label.subtle.mr10{ for: 'signature_join_organisation' }
        = join_label
    .checkbox-why
      %a{ rel: 'popover', 'data-placement'=> 'left', 'data-offset' => 190, 'data-original-title'=>'?', 'data-content'=>"Leave this ticked to hear about campaigns from  #{current_organisation.parent_name} and member started petitions on #{current_organisation.name}."  } ?



  = f.button :submit, 'Sign', class: "btn-primary mt10", disable_with:  "Signing…"



  .return-to-petition
    = link_to '#', class: 'btn-secondary btn-back' do
      =image_tag 'bullet-pointer-left.png', class: 'mr5'
      Return to petition

  .clearall

  :coffeescript
    $ ->
      email_suggest("#signature_email")

- if current_organisation.signature_disclaimer.present?
  .signature-disclaimer
    = current_organisation.signature_disclaimer