= simple_form_for @signature, builder: SignatureFormBuilder, url: petition_signatures_path(@petition), validate: !@petition.prohibited?, wrapper: :compact, remote: true do |f|
  = f.tracking_fields
  = f.first_name
  = f.last_name
  = f.email
  - if !current_organisation.hide_phone_number_on_signature_form?
    = f.phone_number
  - if @signature.additional_field_configs[:address]
    = f.additional_field :address, @signature.additional_field_configs[:address]

  = f.post_code(cf(:petition_show_postcode_label))

  - @signature.additional_field_configs.each do |field_name, field_config|
    - unless field_name == :address
      - if should_display_field?(field_config)
        = f.additional_field(field_name, field_config)

  - if current_organisation.always_join_parent_org_when_sign_up?
    = f.input :join_organisation, as: :hidden, input_html: {value: '1'}
  - else
    .checkbox
      = check_box_tag(:join_organisation, 1, true, id: 'signature_join_organisation', name: 'signature[join_organisation]', class: 'boolean')
      %label.subtle.mr10{ for: 'signature_join_organisation' }
        = join_label
    .checkbox-why
      %a{ rel: 'popover', 'data-placement'=> 'left', 'data-offset' => 190, 'data-original-title'=>'?', 'data-content'=>"Leave this ticked to hear about campaigns from  #{current_organisation.parent_name} and member started petitions on #{current_organisation.name}."  } ?

  - if @petition.group.present?
    - if @petition.group.display_opt_in?
      .checkbox
        = check_box_tag :join_group, 1, true, name: 'signature[join_group]', class: 'boolean', id: 'signature_join_group'
        %label.subtle.mr10{ for: 'signature_join_group' }
          = @petition.group.opt_in_label
    - else
      = f.input :join_group, as: :hidden, input_html: {value: '1'}

  = f.button :submit, 'Sign', class: "btn-primary mt10", disable_with:  "Signing…"

  .return-to-petition
    = link_to '#', class: 'btn-secondary btn-back' do
      =image_tag 'bullet-pointer-left.png', class: 'mr5'
      Return to petition

  .clearall

- if signature_disclaimer(@petition).present?
  .signature-disclaimer
    = signature_disclaimer(@petition)
