%ul.breadcrumb
  %li
    = link_to 'Manage Content', org_contents_path, {:class => 'use-pjax'}
    %span.divider
      >
  %li 
    = link_to 'Blast Email Templates', org_contents_templates_path, {:class => 'use-pjax'}
    %span.divider
      >
  %li.active
    Edit Template
.clear

= title "Edit #{@content.name}"

= render :partial => 'form'