.breadcrumbs
  = link_to 'Manage Content', org_contents_path, {:class => 'use-pjax'}
  >
  = link_to 'Blast Email Templates', org_contents_templates_path, {:class => 'use-pjax'}
  >
  Edit
  = @content.name

= title "Edit #{@content.name}"

= render :partial => 'form'