%title= content_for?(:title) ? content_for(:title) : current_organisation.name

- cache("v1_common_html_head_#{current_organisation.cache_key}", expires_in: 10.seconds) do
  / this changes on each deploy, so short expiry.
  %link{rel: 'stylesheet', type: 'text/css', href: '//fonts.googleapis.com/css?family=Bree+Serif' }
  = stylesheet_link_tag  "organisations/#{current_organisation.slug}/application"

  - unless Rails.env.test?
    / font awesome causes capybara-webkit to explode.
    %link{rel: "stylesheet", type: "text/css", href: "/fonts/font-awesome.css" }
  /[if IE 8]
    = stylesheet_link_tag  'ie8'
  /[if IE 7]
    = stylesheet_link_tag  'ie7'
    - unless Rails.env.test?
      %link{rel: "stylesheet", type: "text/css", href: "/fonts/font-awesome-ie7.css" }


  - if Rails.env.production? || Rails.env.staging? || Rails.env.controlshiftqa?
    %script{ type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' }
  - else
    = javascript_include_tag 'jquery'

  = javascript_include_tag 'application'


= csrf_meta_tags

%meta{name: 'google-site-verification', content: 'VFiKo1LFZ91jj-NyqqMNTmKqMTim1ndqee8JCFeAbi4'}