- cache("v1_vendor_scripts_#{current_organisation.cache_key}#{local_assigns[:exclude_uservoice]}_mobile_#{in_mobile_view?}") do
  - if current_organisation.google_analytics_tracking_id.present?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{current_organisation.google_analytics_tracking_id}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  - if current_organisation.uservoice_widget_link && !local_assigns.has_key?(:exclude_uservoice) && !in_mobile_view?
    :javascript
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + "#{current_organisation.uservoice_widget_link}";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();