!!! 5
%html{"xmlns:og" => "http://ogp.me/ns#"}
  %head
    = render partial: 'layouts/common_html_head'
    = render partial: 'layouts/customised_html_head'
    = yield :head
    = javascript_include_tag 'petition/manage'
    = stylesheet_link_tag "facebook_share_widget/application"
    = javascript_include_tag "facebook_share_widget/application"

  %body{ class: "body-#{controller_name} body-#{controller_name}-#{action_name}" }
    .main
      = render partial: 'layouts/header'

      = yield :before_content
      
      .main-content-sidebar
        .container
          .row
            .span9
              %div{'class' => 'content-wrapper', 'data-pjax-container' => true}
                .loader{style: "display:none;"}
                  .mt10
                    =image_tag 'ajax-loader-16.gif'
                = render 'layouts/page_banner'
                = render 'layouts/flash_messages'
                = yield
              
            .span3
              .sidebar-wrapper
                = yield :sidebar
      
    = render partial: 'layouts/footer'
    
    = yield :end_of_body

    = render partial: 'layouts/vendor_scripts'
    
    :javascript
      function resizeSidebarBackground() {
        $(".sidebar").width($(document).width() - $(".sidebar-wrapper").position().left - 31);
        var contentHeight = $(".footer").position().top - $(".main-content-sidebar").position().top;
        sidebarHeight = $(".sidebar").height();
        if (sidebarHeight < contentHeight) {
          $(".sidebar").height(contentHeight);
        } else {
          $(".sidebar").height(sidebarHeight);
        }
      }
  
      $(function() {
        resizeSidebarBackground();
      });
  
      $(window).resize(function() {
        resizeSidebarBackground();
      });
      
      $('.content-wrapper').resize(function() {
        resizeSidebarBackground();
      });
